<% provide(:title, "Home") %>

<div class="center jumbotron">
<h1>Welcome To Sample App</h1>
<title>Home | My App Name</title>
<p>
  This is the Home Page for the application
</p>

<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
# <a href="#" class="btn btn-lg btn-primary">sign up now! </a>
</div>
